//カラーの設定
$main-color:#0389d2;
$main-color9:#01579b;
$main-color8:#0277bd;
$sub-color:#158787;
$light-color:#e2f4fe;
$hi-gray-color:#333;
$medium-gray-color:#666;
$light-gray-color:#999;
$accent-color:#b37a37;
$unit:8px;