@import "_reset.scss";
@import "_mixin.scss";
@import "_color.scss";

body{
@include sp{
h1{
width: 375px;
height: 96px;
font-size: 6rem;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
margin: auto;
}
}
@include sp2{
h1{
width: 568px;
height: 80px;
font-size: 7rem;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
margin: auto;
}
.work_wrapper{
display: flex;
justify-content: space-around;
flex-wrap: wrap;
.work_inner{
width: 45%;
}
}
}

@include tablet{
header{
min-width: 768px;
position: relative;
}
h1{
width: 768px;
height: 80px;
font-size: 8rem;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
margin: auto;
}
.all{
display: none;
}
.g-nav-conteiner{
width: 100%;
height: 20px;
position: absolute;
top: 0;
.g-nav-inner{
width: 700px;
height: 50px;
margin: 0 auto;
position: relative;
}}
.g-nav{display: none;}

#g-nav2{
display: block;
width: 100%;
height: 300px;
padding: 0;
transform: translate(0,0);
margin: 0 auto;
position:absolute;
background-color:transparent;
top: 20px;
left: 0px;
h2{
position: absolute;
left: 30px;
top: 0px;
padding: 0;
}
ul{
height: 100px;
margin: 0;
padding: 0;
width: 100%;
display: flex;
padding-left: 130px;
padding-top: 20px;
li{
height: 60px;
width: 20%;
line-height: 60px;
border-bottom: 0;
padding: 0;
margin: 0;
text-align: center;
a{
padding:0px;
text-decoration-color:transparent;
}
a:hover{
text-decoration: solid #fff underline;
transition: 0.5s;
text-decoration-thickness: 2px;
text-underline-offset: 8px;
}
a:hover:nth-of-type(5){
padding:0px;
text-decoration-color:transparent;
}
}
}
.contect{
float: right;
margin: 0;
width: 20%;
height: 40px;
line-height: 40px;
}
}

.contents{
max-width: 768px;
margin: 0 auto;
.inner{
height: 320px;
.txt-box{
width: 360px;
height: 180px;
text-align: center;
padding-left: 150px;
h2{
margin-top: 50px;
p{
margin: 30px 0 0 150px;
}
}
}
}

.one{background-image: url(../img/contens_icon1-01.svg) ;
background-position: left 10px bottom 10px;
background-size: 35% auto;
}
.two{background-image: url(../img/contens_icon1-02.svg) ;
background-position: left 10px bottom 10px;
background-size: 35% auto;
}
.three{background-image: url(../img/contens_icon1-03.svg) ;
background-position: left 10px bottom 10px;
background-size: 30% auto;
}

.res1{
margin-left: 16px;
img{
width: 680px;
height: 320px;
object-fit: cover;
}}
.res2{
margin-left: 85px;
img{
width: 670px;
height: 320px;
object-fit: cover;
}}
.res3{
margin-left: 16px;
img{
width: 680px;
height: 320px;
object-fit: cover;
}
}
}

.box:nth-of-type(2) .txt-box{
left:  -20px;
bottom: -80px;}
.box:nth-of-type(3) .txt-box{
right:  20px;
bottom: -100px;
}
.inner-copy{
font-size: 8vh;
top: 60%;
}

.panel_wrapper{
display: flex;
justify-content:space-around;
}
.panel_inner{
width: 45%;
height: 345px;
img{
width: 100%;
height: 345px;
object-fit: cover;}
h2{
width: 100%;
font-size: 2.6rem;
line-height: 1;
text-align: center;
top:40%;
}
h3{
font-size: 2rem;
position: absolute;
top: 60%;
left: 50%;
transform: translate(-50%, -50%);
}
}
}


@include spc{
header{
max-width: 100%;
margin: 0 auto ;
h1{font-size: 17vw;
}
}
.g-nav-conteiner{
.g-nav-inner{
min-width: 968px;
}
}
#g-nav2{
.contect{
        float: right;
        margin-right: 20px;
        width: 20%;
        height: 40px;
        line-height: 40px;

        }
}
.work_wrapper{
.work_inner{
width: 30%;
}
}

.contents2{
    max-width: 960px;
    margin: 0 auto;
    }
}

@include pc{
header{
max-width: 100%;

h1{
width: 1200px;
height: 80px;
font-size: 12rem;
}
.g-nav-inner{
max-width: 1200px;
margin: 0 auto;
#g-nav2{
position: absolute;
top: -400px;
left: 50px;
}
}
}
}
.inner-copy{
font-size: 7vh;
}
.contents2{
max-width: 1024px;
margin: 0 auto;
}
}


/* 스마트폰 기준 디자인 영역 */
body{font-family: "sans-serif";}
header{
width: 100%;
height: 100vh;
background:url(../img/mainbg.jpg) no-repeat center center/cover;
overflow: hidden;
position: relative;
}

h1{
width: 320px;
height: 80px;
font-size: 5em;
position: absolute;
top: -10%;
bottom: 0;
left: 0;
right: 0;
text-align: center;
line-height: 0;
margin: auto;
text-align: center;
color: #fff;
}

.all{
width: 50px;
height: 50px;
border-radius: 50%;
background: $main-color;
position: fixed;
top:20px;
right: 16px;
z-index: 500;
span{
display:block;
width: 40px;
height: 2px;
background-color: #fff;
position: absolute;
top: -10px;
right: 0;
bottom: 0;
left: 0;
margin: auto;
transition: 0.2s;
}
::after{
display: block;
content:"";
width: 40px;
height: 2px;
background-color:  #fff;
position: absolute;
top: 20px;
right: 0;
bottom: 0;
left: 0;
margin: auto;
}
}



.g-nav{
position: fixed; 
left: 0; 
top: 0; 
z-index: 10; 
/* transition: left 0.7s;  */
padding: 15px 24px 15px 22px; 
width: 100%; 
height: 100%; 
background-color: $main-color;
h2{
width: 100px;
height: 100px;
margin: 0 auto;
padding-top: 10px;
background: url(../img/ibeans.svg) no-repeat center;
text-align: center;
font-size: 40px;
white-space: nowrap;
text-indent:300px;
overflow: hidden;
}
ul{
padding: 20px 0 0 30px;
li{
padding-left: 20px;
width: 80%;
line-height: 3;
border-bottom: 1px solid #fff;
}}
a{
color: #fff;
}
}
.contect{
text-align: center;
margin: 50px auto 0;
text-align: center;
width: 50%;
border: 1px solid $accent-color;
border-radius: 10px;
background-color: $accent-color;
font-weight: bold;
height: 40px;
line-height: 40px;
}

.contents{
width: 100%;
margin: 50px 0 200px 0;
position: relative;
}
.contents-bg{
width: 100%;
height: 100vh;
background: url(../img/company01.jpg)no-repeat center center/cover fixed;
}
.box{
width: 100%;
margin-top: 100px;
}
.inner{
max-width: 100%;
margin: 50px auto 200px;
position: relative;
}
.inner-copy{
position: absolute;
font-size: 12vw;
line-height: 2;
font-family: "zapfino";
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
color:#fff;
text-shadow:
1px 1px 0 #999,
-1px 1px 0 #999,
1px -1px 0 #999,
-1px -1px 0 #999;
/* mix-blend-mode: difference; */
z-index: 100;
}
.inner>img{
max-width: 100%;
}

.txt-box{
width: 250px;
height:140px;
background-color: $main-color;
position: absolute;
padding: 10px;
right:  20px;
bottom: -100px;
text-align: center;
}
.box:nth-of-type(2) .txt-box{
left: 20px;
}
h2{
font-weight: lighter;
margin-top: 20px;
color: #fff;
}
.txt-box>p{
width: 166px;
height: 36px;
color: $main-color;
line-height: 36px;
font-size: 1rem;
font-weight: 400;
margin: 16px auto;
background-color: $light-color;
}
.panel{
width: 100%;
padding: 0 16px;
margin-bottom: 100px;
}
.panel>h2{
width: 250px;
height: 50px;
font-size: 1rem;
padding: 10px;
background-color: $main-color;
color: #fff;
text-align: center;
margin: 0 auto 30px;
font-weight: 600;
}

.panel_inner{
margin-bottom: 30px;
position: relative;
width: 100%;
}

.panel_inner img{
max-width: 100%;
}
.panel_inner h2{
width: 100%;
text-align: center;
position: absolute;
font-size: 2.5rem;
font-family: "zapfino";
top: 30%;
left: 50%;
transform: translate(-50%, -50%);
color:#fff;
}

.panel_inner>h3{
font-size: 1.6rem;
position: absolute;
top: 60%;
left: 50%;
transform: translate(-50%, -50%);
margin: auto;
z-index: 100;
color: #fff;
font-weight: 100;
}

.work{
width: 100%;
padding: 0 16px;
}
.work>h2{
width: 250px;
height: 50px;
font-size: 1rem;
padding: 10px;
background-color: $main-color;
color: #fff;
text-align: center;
margin: 0 auto 30px;
font-weight: 600;}


.work_inner{
height: 400px;
margin-bottom: 30px;
position: relative;
width: 100%;
box-shadow: 0px 0px 2px #999;
}

.work_inner:hover{
background-color: #999;
}
.work_thumbnail{
background-color: #fff;
text-align: center;
}

.work_thumbnail img{
padding-top: 10px;
max-width: 100%;
height: 240px;
}
.work_inner>h3{
font-size:0.9rem;
margin: 30px 0 20px 0;
padding: 0 20px ;
}
.line{
display: block;
content: '';
width: 88%;
height: 1px;
background: #666;
margin-bottom: 20px;
}
.work_inner p{
font-weight: 200;
font-size: 0.7rem;
padding: 0 30px;
line-height: 2;
}
footer{
max-width: 100%;
background-color: $hi-gray-color;
height: 120px;
margin: 300px 0 0 0;

ul{
display: flex;
justify-content: center;
li{
width: 50;
margin-top: 40px;
}
a{
font-size: 0.75rem;
color: #fff;
text-align: center;
padding: 0 8px 0;
border-left: 2px solid #aaa;}
a:nth-of-type(4){
border-right: 2px solid #aaa;

}
}
p{
color: #fff;
text-align: center;
}
}

